@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 380px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-list-icons {
  display: flex;
}

.header-list-button {
  border: 0;
  outline: none;
  background-color: #ffffff;
}

.list-icon-frame {
  width: 24px;
  height: 24px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.list-icon-menu {
  width: 24px;
  height: 24px;
}

.header-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20.8413px;
  line-height: 80.5%;
  /* or 17px */
  letter-spacing: 0.274228px;
  text-transform: uppercase;
  width: 111px;
  margin: 0;
}

.header-logo-svg {
  height: 42px;
  width: 42px;
}

.flex {
  display: flex;
  align-items: center;
}

header {
  padding-top: 58px;
}

.explore-h1 {
  /* Explore Indonesia */
  width: 314px;
  left: 30px;
  top: 153px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 58.1515px;
  line-height: 63px;
  /* or 108% */
  text-transform: uppercase;
  color: black;
}

.explore-button {
  width: 315px;
  height: 59px;
  /* Автолейаут */
  padding: 10.2px;
  border-radius: 107.63px;
  background: rgb(221, 34, 66);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}

.title-ul {
  box-sizing: border-box;
  background: rgb(0, 0, 0);
  opacity: 0.8;
  padding-left: 32px;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-top: 37px;
  color: #ffffff;
}

.title-li:not(:last-child) {
  margin-bottom: 32px;
}

.title-a {
  color: rgb(221, 34, 66);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.title-h3 {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 26.41px;
  font-weight: 700;
  line-height: 41.08px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 5px;
}

.title-p {
  color: rgb(147, 147, 147);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}