* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 380px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 1920px) {
  .container {
    width: 1695px;
    padding: 0 15px;
  }
}

.header {
  position: absolute;
  padding-top: 58px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 1200px) {
  .header {
    transform: translateX(0);
    left: 47px;
  }
}

.header-list-li:not(:last-child) {
  margin-right: 29px;
}

.header-list-icons {
  display: flex;
}
@media (min-width: 1200px) {
  .header-list-icons {
    display: flex;
    margin-left: 600px;
    margin-right: 141px;
  }
}

.header-nav {
  display: none;
}
@media (min-width: 1200px) {
  .header-nav {
    display: block;
  }
}

.headnav-ul {
  display: flex;
  align-items: center;
  margin-right: 200px;
  margin-left: 64px;
}

.headnav-li:not(:last-child) {
  margin-right: 62px;
}

.headnav-a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.header-list-button {
  border: 0;
  outline: none;
  background-color: transparent;
}

.list-icon-frame {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.header-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.list-icon-menu {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.header-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20.8413px;
  line-height: 80.5%;
  letter-spacing: 0.274228px;
  text-transform: uppercase;
  width: 111px;
  margin: 0px;
  color: #ffffff;
  text-decoration: none;
}

.header-logo-svg {
  height: 42px;
  width: 42px;
  fill: rgb(255, 255, 255);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .flex {
    justify-content: flex-start;
  }
}

.exploreindonesia {
  background-image: url("../assets/img/hero-bg.jpg");
  background-size: cover;
  padding-top: 195px;
  background-repeat: no-repeat;
}

.explore-h1 {
  width: 314px;
  left: 30px;
  top: 153px;
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 58.1515px;
  line-height: 63px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
@media (min-width: 1920px) {
  .explore-h1 {
    display: flex;
    margin-left: 277px;
    color: rgb(255, 255, 255);
    justify-content: center;
    margin-bottom: 21px;
    width: 627.33px;
    height: 260px;
    font-size: 120px;
    line-height: 130px;
    text-transform: uppercase;
  }
}

.explore-button {
  width: 315px;
  height: 59px;
  padding: 10.2px;
  border-radius: 107.63px;
  background: rgb(221, 34, 66);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 54px;
  color: #ffffff;
  border: none;
  outline: none;
}
@media (min-width: 1920px) {
  .explore-button {
    width: 271.14px;
    height: 82px;
    padding: 20px;
    border-radius: 211px;
    background: rgb(221, 34, 66);
    color: rgba(255, 255, 255, 0.8);
    margin-left: 277px;
    font-size: 20px;
    margin-bottom: 241px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.title-ul {
  box-sizing: border-box;
  background: rgb(0, 0, 0);
  opacity: 0.8;
  padding-left: 32px;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-top: 37px;
  color: #ffffff;
}
@media (min-width: 1920px) {
  .title-ul {
    display: flex;
    margin-left: 277px;
    width: 1225.64px;
    height: 210px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    opacity: 0.6;
    padding-top: 41px;
    padding-bottom: 49px;
    padding-left: 71px;
  }
}

.title-li:not(:last-child) {
  margin-bottom: 32px;
}
@media (min-width: 1920px) {
  .title-li:not(:last-child) {
    margin-right: 198px;
    width: 210.11px;
    height: 120px;
  }
}

.title-a {
  color: rgb(221, 34, 66);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.title-h3 {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 26.41px;
  font-weight: 700;
  line-height: 41.08px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 5px;
}

.title-p {
  color: rgb(147, 147, 147);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}
@media (min-width: 1920px) {
  .title-p {
    width: 210.11px;
    height: 46px;
    font-size: 18px;
    line-height: 28px;
  }
}

.img-video {
  margin-top: 1px;
  width: 314px;
  height: 191px;
}
@media (min-width: 1920px) {
  .img-video {
    display: block;
    margin: 0 auto;
    margin-left: 128px;
    width: 417.22px;
    height: 254px;
  }
}

.hills {
  padding-top: 171px;
  padding-bottom: 116px;
  background-image: url("../../assets/img/Figur-bg.png"), url("../../assets/img/Figur-bg1.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
}

.hills-h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  color: #000000;
}

.hills-p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #6f7787;
  margin-top: 36px;
  margin-bottom: 41px;
}

.hills-button {
  border-radius: 122px;
  background: rgb(221, 34, 66);
  color: #fff;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  width: 314px;
  height: 73px;
  border: none;
  outline: none;
  padding: 16px 24px 16px 24px;
}

.nature {
  padding-top: 40px;
  padding-bottom: 48px;
  background-color: #010a20;
}
@media (min-width: 1920px) {
  .nature {
    padding-top: 207px;
    padding-bottom: 305px;
  }
}

@media (min-width: 1920px) {
  .nature.div {
    display: flex;
  }
}

@media (min-width: 1920px) {
  .nature-li {
    display: flex;
  }
}

.nature-li:not(:last-child) {
  margin-bottom: 56px;
}
@media (min-width: 1920px) {
  .nature-ul {
    text-align: center;
    width: 100%;
  }
}

.nature-img {
  width: 314px;
  height: 232px;
}
@media (min-width: 1920px) {
  .nature-img {
    width: 630.34px;
    height: 460px;
  }
}

.nature-img:last-child {
  padding-top: 56px;
}

.nature-h2 {
  color: #ffffff;
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 34px;
  margin-bottom: 30px;
}
@media (min-width: 1920px) {
  .nature-h2 {
    margin-left: 127px;
    width: 479.5px;
    height: 119.95px;
    color: rgb(255, 255, 255);
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.nature-p {
  color: #e0e0e0;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 31px;
}
.nature-button {
  width: 314px;
  height: 72px;
  gap: undefined;
  padding: 16px 24px 16px 24px;
  border-radius: 32px;
  background: rgb(221, 34, 66);
  border: none;
  outline: none;
  color: #ffffff;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
}

.secrets {
  padding-top: 25px;
  background-image: url("../../assets/img/secret-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1088px;
}
@media (min-width: 1920px) {
  .secrets {
    padding-top: 127px;
  }
}

.secrets-img {
  margin-top: 40px;
  margin-bottom: 16px;
}

.secrets-h2 {
  color: black;
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
}

.secrets-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secrets-svg {
  width: 12px;
  height: 19.55px;
  fill: rgb(2, 11, 32);
  margin: 0 9px;
}

.secret-img2 {
  display: block;
  margin: 0 auto;
}

.facts {
  padding-top: 82px;
  padding-bottom: 70px;
  background-color: #010a20;
}

.facts-h2 {
  width: 314px;
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 62px;
}

.facts-p {
  color: #e0e0e0;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-bottom: 62px;
}

.factul-h2 {
  color: rgb(221, 34, 66);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
}

.factul-p {
  color: #e0e0e0;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

.factul-li:first-child {
  margin-bottom: 81px;
}

.factul-li:nth-child(2) {
  margin-bottom: 44px;
}

.life {
  padding-top: 83px;
  padding-bottom: 44px;
  background-image: url("../../assets/img/sunshine-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1920px) {
  .life {
    padding-top: 141px;
    padding-bottom: 210px;
  }
}

.life-h2 {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  width: 314px;
  margin-bottom: 115px;
}
@media (min-width: 1920px) {
  .life-h2 {
    font-size: 42px;
    line-height: 50px;
    margin: 0 auto;
    width: 1056px;
    height: 142.64px;
    margin-bottom: 67px;
  }
}

.life-img {
  width: 314px;
  height: 176px;
  margin-bottom: 40px;
}
@media (min-width: 1920px) {
  .life-img {
    width: 1056px;
    height: 594px;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 1920px) {
  .life-ul {
    display: flex;
    justify-content: center;
    margin-top: 127px;
  }
}

@media (min-width: 1920px) {
  .life-li {
    display: flex;
  }
}

.life-li:first-child {
  margin-bottom: 33px;
}

.life-img2 {
  width: 314px;
  height: 176px;
  margin-bottom: 40px;
}

@media (min-width: 1920px) {
  .life-div {
    margin-left: 41px;
  }
}

.life-h3 {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 19px;
}
@media (min-width: 1920px) {
  .life-h3 {
    width: 233.14px;
    height: 35.66px;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
  }
}

.life-p {
  color: rgb(255, 255, 255);
  opacity: 0.7;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}
@media (min-width: 1920px) {
  .life-p {
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    width: 334.63px;
    height: 142.64px;
  }
}

.gallery {
  padding-top: 32px;
  padding-bottom: 40px;
}

.gallery-h2 {
  color: rgb(1, 10, 32);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}

.gallery-p {
  color: rgb(111, 119, 135);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-bottom: 32px;
}

.gallery-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 12px;
}

.gallery-img1 {
  width: 151px;
  height: 217px;
}

.gallery-img2 {
  width: 151px;
  height: 86px;
}

.gallery-img3 {
  width: 150px;
  height: 153px;
}

.gallery-img4 {
  width: 150px;
  height: 153px;
}

.gallery-img5 {
  display: block;
  width: 151px;
  height: 217px;
}

.gallery-img6 {
  width: 150px;
  height: 153px;
}

.div1 {
  grid-row: span 2/span 2;
  width: 151px;
  height: 217px;
}

.div2 {
  grid-column-start: 1;
  grid-row-start: 3;
}

.div3 {
  grid-row: span 2/span 2;
  grid-column-start: 1;
  grid-row-start: 4;
}

.div4 {
  grid-column-start: 2;
  grid-row-start: 1;
}

.div5 {
  grid-row: span 2/span 2;
  grid-column-start: 2;
  grid-row-start: 2;
}

.div6 {
  grid-row: span 2/span 2;
  grid-row-start: 4;
}

.getting {
  background: rgb(220, 232, 242);
  padding-top: 29px;
  padding-bottom: 73px;
}

.getting-h2 {
  color: rgb(1, 10, 32);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 45px;
}

.circle {
  /* Number */
  width: 56px;
  height: 56px;
  border-radius: 90px;
  background-color: rgb(214, 31, 62);
  font-style: "DM sans";
  font-size: 30px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.getting-li {
  text-align: center;
}

.getting-h3 {
  color: rgb(1, 10, 32);
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 10px;
}

.getting-p {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  color: grey;
  margin-bottom: 5px;
}

.getting-a {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgb(214, 31, 62);
  text-decoration: none;
}

.getting-li:not(:last-child) {
  margin-bottom: 32px;
}

.getting-img {
  margin-bottom: 40px;
}

.footer {
  padding-top: 155px;
  padding-bottom: 84px;
  background-color: #010a20;
}

.footer-h3 {
  font-family: Roboto;
  font-size: 23.96px;
  font-weight: 900;
  line-height: 90.5%;
  letter-spacing: 0.32px;
  text-align: left;
  text-transform: uppercase;
  width: 128px;
  height: 56.75px;
  color: #ffffff;
  margin-bottom: 36px;
}

.footer-nav {
  text-align: center;
}

.li-a {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 22.94px;
  font-weight: 700;
  line-height: 35.69px;
  letter-spacing: 0.64px;
  text-align: center;
  text-decoration: none;
}

.li2-p {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 23.24px;
  font-weight: 700;
  line-height: 36.15px;
  letter-spacing: 0.65px;
  text-align: center;
  justify-content: center;
}

.li2-svg {
  width: 30.99px;
  height: 30.99px;
}

.footer-svg {
  width: 51px;
  height: 51px;
  fill: #ffffff;
}

.footer-li:not(:last-child) {
  margin-bottom: 36px;
}

.li2-svg {
  fill: #ffffff;
}

.footer-ul2 {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 36px;
}

.footer-li2:not(:last-child) {
  margin-right: 48.5px;
  width: 31px;
  height: 31px;
}

.li2-svg {
  width: 31px;
  height: 31px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  text-decoration: none;
}