@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 380px;
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  position: absolute;
  padding-top: 58px;
}

.header-list-li:not(:last-child) {
  margin-right: 29px;
}

.header-list-icons {
  display: flex;
}

.header-list-button {
  border: 0;
  outline: none;
  background-color: transparent;
}

.list-icon-frame {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.header-logo {
  display: flex;
  align-items: center;
}

.list-icon-menu {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.header-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20.8413px;
  line-height: 80.5%;
  letter-spacing: 0.274228px;
  text-transform: uppercase;
  width: 111px;
  margin: 0;
  color: #ffffff;
  text-decoration: none;
}

.header-logo-svg {
  height: 42px;
  width: 42px;
  fill: rgb(255, 255, 255);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exploreindonesia {
  background-image: url("../assets/img/hero-bg.jpg");
  background-size: cover;
  padding-top: 153px;
  background-repeat: no-repeat;
}

.explore-h1 {
  width: 314px;
  left: 30px;
  top: 153px;
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 58.1515px;
  line-height: 63px;
  /* or 108% */
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.explore-button {
  width: 315px;
  height: 59px;
  /* Автолейаут */
  padding: 10.2px;
  border-radius: 107.63px;
  background: rgb(221, 34, 66);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 54px;
  color: #ffffff;
}

.title-ul {
  box-sizing: border-box;
  background: rgb(0, 0, 0);
  opacity: 0.8;
  padding-left: 32px;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-top: 37px;
  color: #ffffff;
}

.title-li:not(:last-child) {
  margin-bottom: 32px;
}

.title-a {
  color: rgb(221, 34, 66);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.title-h3 {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 26.41px;
  font-weight: 700;
  line-height: 41.08px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 5px;
}

.title-p {
  color: rgb(147, 147, 147);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.img-video {
  margin-top: 1px;
  margin-bottom: 40px;
  width: 314px;
  height: 191px;
}

.hills {
  padding-top: 171px;
  padding-bottom: 116px;
  background-image: url("../../assets/img/Figur-bg.png"), url("../../assets/img/Figur-bg1.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
}

.hills-h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  color: #000000;
}

.hills-p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #6f7787;
  margin-top: 36px;
  margin-bottom: 41px;
}

.hills-button {
  border-radius: 122px;
  background: rgb(221, 34, 66);
  color: #fff;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  width: 314px;
  height: 73px;
  border: none;
  outline: none;
  padding: 16px 24px 16px 24px;
}

.nature {
  padding-top: 40px;
  padding-bottom: 48px;
  background-color: #010a20;
}

.nature-li:not(:last-child) {
  margin-bottom: 56px;
}

.nature-img {
  width: 314px;
  height: 232px;
}

.nature-img:last-child {
  padding-top: 56px;
}

.nature-h2 {
  color: #ffffff;
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 34px;
  margin-bottom: 30px;
}

.nature-p {
  color: #e0e0e0;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 31px;
}

.nature-button {
  width: 314px;
  height: 72px;
  gap: undefined;
  padding: 16px 24px 16px 24px;
  border-radius: 32px;
  background: rgb(221, 34, 66);
  border: none;
  outline: none;
  color: #ffffff;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
}

.secrets {
  padding-top: 25px;
  background-image: url("../../assets/img/secret-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1088px;
}

.secrets-img {
  margin-top: 40px;
  margin-bottom: 16px;
}

.secrets-h2 {
  color: black;
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
}

.secrets-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secrets-svg {
  width: 12px;
  height: 19.55px;
  fill: rgb(2, 11, 32);
  margin: 0 9px;
}

.secret-img2 {
  display: block;
  margin: 0 auto;
}

.facts {
  padding-top: 82px;
  padding-bottom: 70px;
  background-color: #010a20;
}

.facts-h2 {
  width: 314px;
  height: 52px;
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 62px;
}

.facts-p {
  color: #e0e0e0;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-bottom: 62px;
}

.factul-h2 {
  color: rgb(221, 34, 66);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
}

.factul-p {
  color: #e0e0e0;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

.factul-li:first-child {
  margin-bottom: 81px;
}

.factul-li:nth-child(2) {
  margin-bottom: 44px;
}