.footer {
  padding-top: 155px;
  padding-bottom: 84px;
  background-color: #010a20;
  @media (min-width: 1920px) {
    padding-top: 39px;
    padding-bottom: 46px;
  }
}
.footer-ul {
  @media (min-width: 1920px) {
    display: flex;
    margin-left: 124px;
  }
}
.footer-h3 {
  font-family: Roboto;
  font-size: 23.96px;
  font-weight: 900;
  line-height: 90.5%;
  letter-spacing: 0.32px;
  text-align: left;
  text-transform: uppercase;
  width: 128px;
  height: 56.75px;
  color: #ffffff;
  margin-bottom: 36px;
  @media (min-width: 1920px) {
  }
}
.footer-nav {
  text-align: center;
  @media (min-width: 1920px) {
    display: flex;
    align-items: center;
  }
}
.li-a {
  color: rgba(255, 255, 255, 1);

  font-family: DM Sans;
  font-size: 22.94px;
  font-weight: 700;
  line-height: 35.69px;
  letter-spacing: 0.64px;
  text-align: center;
  text-decoration: none;
  @media (min-width: 1920px) {
    font-size: 18px;
    width: 56px;
    height: 28px;
    line-height: 28px;
    letter-spacing: 0.5px;
  }
}
.li2-p {
  color: rgba(255, 255, 255, 1);
  font-family: DM Sans;
  font-size: 23.24px;
  font-weight: 700;
  line-height: 36.15px;
  letter-spacing: 0.65px;
  text-align: center;
  justify-content: center;
  @media (min-width: 1920px) {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin-left: 50px;
    margin-bottom: 30px;
    width: 200px;
  }
}
.li2-svg {
  width: 30.99px;
  height: 30.99px;
}
.footer-svg {
  width: 51px;
  height: 51px;
  fill: #ffffff;
}
.footer-li:not(:last-child) {
  margin-bottom: 36px;
  @media (min-width: 1920px) {
    margin-right: 35px;
  }
}
.li2-svg {
  fill: #ffffff;
}
// .footer-div {
//   @media (min-width: 1920px) {
//     display: flex;
//   }
// }
.footer-ul2 {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 36px;
  @media (min-width: 1920px) {
    margin-left: 650px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}
.footer-li2 {
  width: 31px;
  height: 31px;
  @media (min-width: 1920px) {
    width: 24px;
    height: 24px;
  }
}
.footer-li2:not(:last-child) {
  margin-right: 48.5px;

  @media (min-width: 1920px) {
    margin-right: 22px;
  }
}
.li2-svg {
  width: 31px;
  height: 31px;
  @media (min-width: 1920px) {
    width: 24px;
    height: 24px;
  }
}
.footer-logo {
  display: flex;
  justify-content: center;
  text-decoration: none;
  @media (min-width: 1920px) {
    justify-content: normal;
  }
}
