.gallery {
  padding-top: 32px;
  padding-bottom: 40px;
}
.gallery-h2 {
  color: rgba(1, 10, 32, 1);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}
.gallery-p {
  color: rgba(111, 119, 135, 1);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-bottom: 32px;
}
.gallery-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 12px;
  @media (min-width: 1920px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;

    justify-items: center;
  }
}
.gallery-img1 {
  width: 151px;
  height: 217px;
  @media (min-width: 1920px) {
    width: 370px;
    height: 530px;
    border-radius: 10px;
  }
}
.gallery-img2 {
  width: 151px;
  height: 86px;
  @media (min-width: 1920px) {
    width: 370px;
    height: 210px;
    border-radius: 10px;
  }
}
.gallery-img3 {
  width: 150px;
  height: 153px;
  @media (min-width: 1920px) {
    width: 370px;
    height: 370px;
    border-radius: 10px;
  }
}
.gallery-img4 {
  width: 150px;
  height: 153px;
  @media (min-width: 1920px) {
    width: 370px;
    height: 210px;
    border-radius: 10px;
  }
}
.gallery-img5 {
  display: block;
  width: 151px;
  height: 217px;
  @media (min-width: 1920px) {
    width: 370px;
    height: 530px;
    border-radius: 10px;
  }
}
.gallery-img6 {
  width: 150px;
  height: 153px;
  @media (min-width: 1920px) {
    width: 370px;
    height: 370px;
    border-radius: 10px;
  }
}
.div2 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.div3 {
  grid-column-start: 3;
  grid-row-start: 1;
}

.div4 {
  grid-column-start: 2;
  grid-row-start: 1;
}
