.getting {
  background: rgba(220, 232, 242, 1);
  padding-top: 29px;
  padding-bottom: 73px;
  @media (min-width: 1920px) {
    padding-top: 119px;
    padding-bottom: 117px;
  }
}
.getting-h2 {
  color: rgba(1, 10, 32, 1);

  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 45px;
  @media (min-width: 1920px) {
    color: rgba(1, 10, 32, 1);
    margin-left: 387px;
    font-size: 60px;
    margin-bottom: 44px;
    line-height: 78px;

    text-align: left;
  }
}
.circle {
  /* Number */
  width: 56px;
  height: 56px;
  border-radius: 90px;
  background-color: rgb(214, 31, 62);
  font-style: "DM sans";
  font-size: 30px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  @media (min-width: 1920px) {
    width: 58.69px;
    height: 58.69px;
    margin: 0;
  }
}
.getting-ul {
  @media (min-width: 1920px) {
    margin-left: 386px;
  }
}
.getting-div {
  @media (min-width: 1920px) {
    margin-left: 44px;
  }
}
.getting-li {
  text-align: center;
  @media (min-width: 1920px) {
    display: flex;
  }
}
.getting-h3 {
  color: rgba(1, 10, 32, 1);

  font-family: DM Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 10px;
  @media (min-width: 1920px) {
    font-size: 26.41px;
    margin-top: 0;
    margin-bottom: 28px;
    line-height: 41.08px;

    text-align: left;
  }
}
.getting-p {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  color: grey;
  margin-bottom: 5px;
  @media (min-width: 1920px) {
    display: none;
  }
}
.getting-p2 {
  @media (min-width: 380px) {
    display: none;
  }
  @media (min-width: 1920px) {
    width: 1038.76px;
    height: 114.44px;
    color: rgba(21, 20, 57, 0.4);
    display: flex;
    font-family: DM Sans;
    font-size: 23.47px;
    font-weight: 400;
    line-height: 38.15px;
    letter-spacing: 0px;
    text-align: left;
  }
}
.getting-p3 {
  @media (min-width: 380px) {
    display: none;
  }
  @media (min-width: 1920px) {
    display: flex;
    color: rgba(21, 20, 57, 0.4);
    /* Paragraph */
    width: 446.02px;
    height: 114.44px;
    font-family: DM Sans;
    font-size: 23.47px;
    font-weight: 400;
    line-height: 38.15px;
    letter-spacing: 0px;
    text-align: left;
  }
}
.getting-h3-travel {
  @media (min-width: 380px) {
    display: none;
  }
  @media (min-width: 1920px) {
    color: rgba(1, 10, 32, 1);
    display: flex;
    font-family: DM Sans;
    font-size: 26.41px;
    font-weight: 700;
    line-height: 41.08px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 12px;
  }
}
.getting-a {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgb(214, 31, 62);
  text-decoration: none;
  @media (min-width: 1920px) {
    display: none;
  }
}
.getting-li:not(:last-child) {
  margin-bottom: 32px;
  @media (min-width: 1920px) {
    margin-bottom: 94px;
  }
}
.getting-img {
  margin-bottom: 40px;
  @media (min-width: 1920px) {
    width: 249.42px;
    height: 165.79px;
    margin-bottom: 0;
    margin-left: 100px;
  }
}
.getting-li:last-child {
  @media (min-width: 1920px) {
  }
}
