.nature {
  padding-top: 40px;
  padding-bottom: 48px;
  background-color: #010a20;
  @media (min-width: 1920px) {
    padding-top: 207px;
    padding-bottom: 305px;
  }
}
.nature.div {
  @media (min-width: 1920px) {
    display: flex;
  }
}
.nature-li {
  @media (min-width: 1920px) {
    display: flex;
  }
}
.nature-li:not(:last-child) {
  margin-bottom: 56px;
  @media (min-width: 1920px) {
  }
}
.nature-ul {
  @media (min-width: 1920px) {
    text-align: center;
    width: 100%;
  }
}
.nature-img {
  width: 314px;
  height: 232px;
  @media (min-width: 1920px) {
    width: 630.34px;
    height: 460px;
  }
}
.nature-img:last-child {
  padding-top: 56px;
}
.nature-h2 {
  color: #ffffff;

  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 34px;
  margin-bottom: 30px;
  @media (min-width: 1920px) {
    margin-left: 127px;

    width: 479.5px;
    height: 119.95px;
    color: rgba(255, 255, 255, 1);

    font-size: 42px;

    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
  }
}
.nature-p {
  color: #e0e0e0;

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 31px;
  @media (min-width: 1920px) {
  }
}
.nature-button {
  width: 314px;
  height: 72px;
  gap: undefined;
  padding: 16px 24px 16px 24px;
  border-radius: 32px;
  background: rgba(221, 34, 66, 1);
  border: none;
  outline: none;
  color: #ffffff;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
}
