.secrets {
  padding-top: 25px;

  background-image: url("../../assets/img/secret-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1088px;
}
.secrets-img {
  margin-top: 40px;
  margin-bottom: 16px;
}
.secrets-h2 {
  color: black;
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
}
.secrets-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.secrets-svg {
  width: 12px;
  height: 19.55px;
  fill: rgba(2, 11, 32, 1);
  margin: 0 9px;
}
.secret-img2 {
  display: block;
  margin: 0 auto;
}
